@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff7f8;
}

.btn-primary {
  @apply inline-block px-8 py-3 rounded-full bg-rose-700 text-white font-bold shadow-lg hover:bg-rose-800 transition transform hover:scale-105;
}